html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-image: url(https://images.pond5.com/lottery-balls-numbers-black-background-footage-075802481_iconl.jpeg);
background-repeat: no-repeat;
background-size: cover;
}
.x {
    justify-content: center;
    gap: 15px;
    display: flex;
margin-bottom: 50px;
max-width: 100%;


}
.myh1 {
    
    margin-top: 10px;
    margin-left: 20px;
}
.random{
    width: 80px;
    height: 80px;
    border-radius:50%;
    font-size: 18;
    justify-content: center;
    align-items: center;
    border: 5px solid aqua;
    color: blue;
    
}
.y{
    display: flex;
    justify-content: center;
    align-items: center;

width: 100%;
height: 40%;
max-width: 100%;
gap: 10px;

flex-direction: column;


}
.w{
    display: flex;
    
}

.z{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100%;

}
.number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px dashed ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    cursor: pointer;
    
}
.b{
    width: 100px;
    height: 30px;
    background-color:aqua;
    border: none;
    border-radius: 8px;
    margin-top: 14px;
    margin-left: 10px;
    cursor: pointer;

}
.s{
    display: flex;
    justify-content: center;
    width: 100%;

}

@media screen and (max-width:620px) {
    .number {
        width: 50px;
    height: 50px;
    }
}
@media screen and (max-width:530px) {
    .number {
        width: 40px;
    height: 40px;
    }
}
@media screen and (max-width:410px) {
    .number {
        width: 30px;
    height: 30px;
    }
}
